* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #FFFFFF;

    --font1: 'Lato', sans-serif;
    --font2: 'Montserrat', sans-serif;

}


body {
    color: var(--branco);
    font-family: var(--font2);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

/* deixa todos os Placeholder do cadastro estilizados */
::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
    font-family: var(--font2);
}

.stepperDiv {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    

    transform: translate(-50%, -50%);
}




._cadastro {
    display: grid;
    top: 200px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 30px;

}


._cadastro .formulario {
    width: 700px;
    height: 450px;
    ;
    background-color: #FFFFFF;
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    position: relative;
    justify-self: center;
    align-self: center;
    /* background-image: linear-gradient(45deg, #04184F, transparent)  */

    background: linear-gradient(146deg, rgba(7, 47, 87, 0.20) 0%, rgba(7, 47, 87, 0.83) 98.56%);

    backdrop-filter: blur(4px);


}



._cadastro .forms {
    height: 80px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px;
    padding-bottom: 5PX;
    color: white;
    font-family: var(--font2);
    font-size: 25px;



}

._cadastro form input {
    height: 50px;
    color: white;
    background: linear-gradient(146deg, rgba(94, 114, 140, 0.2) 0%, rgba(94, 114, 140, 0.83) 98.56%);
    border: transparent;
    border-radius: 10px;

}

._cadastro form select {
    height: 50px;
    color: white;
    background: linear-gradient(146deg, rgba(94, 114, 140, 0.2) 0%, rgba(94, 114, 140, 0.83) 98.56%);
    border: transparent;
    border-radius: 10px;

}

._cadastro form input::placeholder {
    color: white
}

._cadastro form option {
        color: black
}

._cadastro form input::-webkit-file-upload-button {
    background-image: url("../../assets/img/arquivo_icon.png");
}

.btn_multi {
    height: 50px;
    width: 200px;
    border-radius: 30%;
    margin-top: 20px;
    position: relative;
    font-family: var(--font2);
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    color: var(--branco);
    background: #1A7CA6;
    border: 1px solid #294ABD;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46.5px;
    text-decoration: none;

}

._cadastro button:hover {
    background-color: #042E54;
    color: white;

}

/* nav {
    width: 120px;
    height: 400px;
    font-family: var(--font2);
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    margin-top: -180px;




}  */

._cadastro .btn_cadastrar,
._cadastro .bt {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 50px;

    font-family: var(--font2);
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    background: #1A7CA6;
    border: 1px solid #294ABD;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46.5px;
    text-decoration: none;
    margin: 5px;

}

._cadastro .btn_cadastrar:hover,
._cadastro .bt:hover {
    background-color: #042E54;
    color: white;

}


._cadastro nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    text-decoration: none;



}

._cadastro nav a:hover,
._cadastro .bt:hover {

    background-color: #042E54;
    color: white;
}

._cadastro .bt {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 115px;
    color: #FFFFFF;
    font-family: var(--font2);
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    background: #1A7CA6;
    border: 1px solid #294ABD;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46.5px;
    text-decoration: none;
    margin: 5px;
}
/* Responsividade */


@media screen and (max-width: 768px) {

    ._cadastro .formulario{
        width: 412px;
        display: flex;
        justify-content: center;
        
       
    }
    

    .formulario .alinhamento .forms {
        width:300px;
        height: 20px;       
        display: flex;
        padding: 25px;
       
    }
 
}
