/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --branco: #FFFFFF;

    --font1: 'Lato', sans-serif;
    --font2: 'Montserrat', sans-serif;

}



._titulo {
    color: white;
    display: flex;
    justify-content: center;

    padding-top: 25px;
}

/* definindo o tamanho da table */
/* 
.cry {
    width: 500px;
    height: 500px;
    margin-left: 30%;
    background-color: var(--branco);
    border-radius: 30px;
} */

.emglobador {

    width: 40%;
    margin: auto;
    height: 500px;
    /* margin-left:10%; */
    font-family: var(--font1);
    background-color: var(--branco);
    border-radius: 30px;
    margin-top: 5%;
    background: linear-gradient(146deg, rgba(7, 47, 87, 0.20) 0%, rgba(7, 47, 87, 0.83) 98.56%);

    backdrop-filter: blur(4px);


}

.emglobador span {

    display: flex;
    justify-content: left;
    color: white;
    margin-left: 30px;
    padding-top: 50px;
    text-transform: uppercase;
}


.englobador hr {
    color: rgba(7, 47, 87, 0.83);
}

/* configurando o traço */

.tabelaPerfil {
    display: flex;
    flex-direction: row;
    color: black;
    margin-top: 10px;

}

/* definindo o espaçamento das informações  */
.tabelaPerfil th,
.tabelaPerfil td {
    padding: 0.5rem;
    margin-top: 15px;
    
}

/* orientando as informações em paralelo */
.esquerda th {
    display: flex;
    color: white;
    flex-basis: 100%;
    /* margin-right: 10px; */
    padding-left: 30px;
    margin-top: 30px;
}

.direita tr {
   
    color: white;
    

}

.direita th {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    flex-basis: 100%;
    padding-right: 30px;
    margin-top: 30px;
}

/* Alinhando o P */

.verificado {
    margin-bottom: 50px;
}

.status p {
    font-family: var(--font1);
    text-align: left;
    /* color: #2b961f; */
    text-transform: uppercase;
    padding-left: 30px;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 5px;

}

.status {
    /* color: #2b961f; */
    font-size: 20px;
    margin-top: -100px;
    width: 40%;
    margin-left: 30%;
    /* font-weight: bold; */
}




/* Responsividade da tabela */

@media screen and (max-width: 1049px) {

    h2,
    p,
    span,
    .esquerda th,
    .direita tr,
    .direita th {
        color: white;
        font-size: small;

    }

    .emglobador span {
        color: white;
        padding-top: 0%;
    }

    .emglobador {
        width: 80%;
        margin: auto;
        margin-left: 50%;
        font-family: var(--font1);
        background-color: var(--branco);
        border-radius: 30px;
    }



}