* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font1_montserrat: 'Montserrat', sans-serif;
    --font2_righteous: 'Righteous', cursive;
    --font3_titillium: 'Titillium Web', sans-serif;
    --font4_lato: 'Lato', sans-serif;
    --branco: #ffffff;
    --preto: #00000067;
    --verde: #12D76E;
    --azulbotao: #1A7CA6;
    --azulborda: #294ABD;


}


.reconhecimento {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 580px;
    margin-top: -90px;

}



.modulo {
    height: 120px;
    width: 310px;
    background: var(--preto);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.modulo h2 {
    font-weight: 100px;
    font-size: 25px;
    font-family: var(--font4_lato);
    color: var(--branco);
    text-transform: capitalize;

}

.modulo p {
    font-family: var(--font4_lato);
    font-size: 15px;
    color: var(--verde);
    text-transform: capitalize;
}

.reconhecimento img {
    width: 300px;
    margin: 0px 50px;


}

.botoes_footer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: -100PX;


}

.customer_btn  {
    background: var(--azulbotao);
    /* padding: 10px 100px; */
    width: 300px;
    height: 50px;
    border-radius: 100px;
    text-decoration: none;
    font-family: var(--font1_montserrat);
    color: var(--branco);
    box-shadow: 10px 13px 10px -7px rgba(0, 0, 0, 0.56);
    border: var(--azulborda) solid 1px;
    text-transform: capitalize;
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.customer_btn:hover {
    background-color: orange;
    color: #000;
}

    @media screen and (max-width: 1112px) {
        .reconhecimento {
            flex-wrap: wrap;
        }
    }


    @media screen and (max-width: 1320px) {

        .botoes_footer,
        .customer_btn {
            /* flex-wrap: wrap; */
            /* flex-direction: column; */



        }



    }

    /* Sexto Commit 26/06 */

    @media screen and (max-width: 550px) {
        .modulo {
            height: 70px;
            margin-top: 75px;
            width: 280px;
            background: var(--preto);
            backdrop-filter: blur(10px);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    }

    .reconhecimento {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 530px;
        margin-top: -90px;
    
    }
    .reconhecimento img {
        width: 175px;
        margin: 0px 50px;
        border: 20px;
    
    
    }

    .botoes_footer {
        width: 60%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: -17PX;
    
    
    }

    .customer_btn  {
        background: var(--azulbotao);
        /* padding: 10px 100px; */
        width: 200px;
        height: 50px;
        border-radius: 100px;
        text-decoration: none;
        font-family: var(--font1_montserrat);
        color: var(--branco);
        box-shadow: 10px 13px 10px -7px rgba(0, 0, 0, 0.56);
        border: var(--azulborda) solid 1px;
        text-transform: capitalize;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .elementos{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: -26px;
        height: 510px;
    }
    }
