* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  
  h1,
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    /* -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000; */
    /* text-shadow:
      -1px -1px 0px #000,
      -1px 1px 0px #000,
      1px -1px 0px #000,
      1px 0px 0px #000; */
    margin-top: 10px;
  
  }
  
  .cabeca {
    display: flex;
    justify-content: space-between;
    margin: 15px;
  
  }
  
  .esquerda {
    width: 1030px;
    height: 1px;
    /* margin-top: 10px; */
  }
  
  .direita {
    width: 460px;
    height: 1px;
    /* margin-top: 10px; */
  }
  
  .linha img {
    width: 70px;
    margin-top: -19px;
  }
  
  .linha {
    display: flex;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
  }
  
  .circle-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .rosto-leitura {
    display: flex;
    margin-top: 60px;
    /* margin-left: 50%;
      transform: translate(-50%, -50%); */
    /* width: 375px; */
    align-items: center;
    height: 400px;
    border-radius: 40px;
  }
  
  
  .botao_principal {
    display: flex;
    align-items: center;
    border: none;
    /* margin-top: 450px; */
    /* transform: translate(-50%, -50%); */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    white-space: nowrap;
    border-radius: 70px;
    padding: 20px 30px;
    background-color: #1A7CA6;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 10));
    text-shadow:
      -1px -1px 0px #000,
      -1px 1px 0px #000,
      1px -1px 0px #000,
      1px 0px 0px #000;
    text-align: center;
    text-decoration: none;
  
  }
  
  
  .btn {
    display: flex;
    margin-top: 50px;
    /* margin-left: -40%; */
  
  }
  
  .btn a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #000;
  }











  .facial{
    min-width: 300px;
    min-height: 60px;
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #cecece;
    background: #042E54;
  background: linear-gradient(90deg, rgba(27,80,127,50) 0%, rgba(65,120,169,66) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(33, 56, 78, 0.801);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

    
    
  
  .facial::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #17466cb0;
    box-shadow: 0 0 60px rgba(4,46,84,.33);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .facial:hover, .facial:focus {
    color: #ffffff;
    transform: translateY(-6px);
  }
  
  .facial:hover::before, .facial:focus::before {
    opacity: 1;
  }
  
  .facial::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #045cae;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .facial:hover::after, .facial:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
    }
  }









  @media screen and (max-width:768px) {
    .linha hr {
  
      display: none;
    }
  
    .cabeca {
      display: none;
    }
  
    .linha img {
      margin-top: 10px;
    }
  
  }