/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  :root {
    --azulE: #072F57;
    --azulC: #1A7CA6;
    --branco: #E3F6F5;
    --verdeC: #BAE8E8;
    --verdeE: #2C698D;
    --cinza: #999999;
    --verde: #12D76E;
    --azulbtn: #294ABD;
  
    --font1: 'Montserrat Alternates', sans-serif;
    --font2: 'Roboto', sans-serif;
  }
  
  html {
   color-scheme: dark; 
  }
  
  body {
    color:#F2F2F7;
    font-family: var(--font1);
    background-color: #3c3c43;
  }
  
  main {
    width: 70%;
    max-width: 1440px;
    display: grid;
    margin: 0 auto;
    padding: 30px 0;
  }
  
  section {
    background-color: #6d6d6d;
    padding: 25px;
    margin: 30px 0;
    border-radius: 8px;
    box-shadow: 10px 10px 15px 0px #00000025;
  }
  
  form {
    height: 150px;
    margin: 30px 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .campo-form {
    height: 56px;
    width: 650px;
    color-scheme: dark; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
  .campo-datanasc {
    height: 45px;
    color-scheme: dark; 
    display: block;
    justify-content: space-between;
   
    
  }
  
  input {
    height: 30px;
    border: solid 1px #6d6d6d;
    border-radius: 6px;
    text-indent: 5px;
    font-family: var(--font2);
    font-weight: medium;
    caret-color: #007AFF;
  }
  
  input::placeholder {
    color: #3c3c43;
  }
  
 
  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  button {
    height: 30px;
    width: 200px;
    background-color: #FF3B30;
    margin-right: 30px;
    border: none;
    border-radius: 6px;
  
    font-family: var(--font2);
    font-weight: medium;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #30D158;
    color: #ffffff;
  }
  
  button[type="submit"]:hover {
    background-color: #34C759;
  }
  
  table {
    background-color: #6d6d6d;
    width: 100%;
    margin: 30px 0;
    border: none;
    border-collapse: collapse;
  }
  
  caption {
    font-size: 20px;
  }
  
  caption, th {
    text-align: left;
  }
  
  tbody > tr:nth-child(odd) {
    background-color: #3B3B3B;
  }
  
  tr {
    background-color: #3B3B3B;
    height: 40px;
  }
  
  th, tr, td {
    color-scheme: dark; 
    border: none;
  }
  
  .linha-mensagem td {
    text-align: center;
  }
  
  caption, th, td {
    padding: 15px;
  }
  
  .botao-tabela {
    background-color: #FF453A;
    color: #ffffff;
  }
  
  .botao-tabela:hover {
    background-color: #FF3B30;
  }
  
  @media screen and (max-width: 950px) {
    .conjunto-botoes {
        display: flex;
        justify-content: space-between;
    }
  
    button {
        margin-right: 0;
    }
  
    button[type="reset"] {
        margin-right: 15px;
    }
  
  }
  
  @media screen and (max-width: 1000px) {
    thead {
        display: none;
    }
  
    td {
        display: grid;
        gap: 10px;
        grid-template-columns: 20ch auto;
  
        padding: 10px 15px;
    }
  
    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
  
    td:first-child {
        padding-top: 24px;
    }
  
    td:last-child {
        padding-bottom: 24px;
    }
    
    .linha-mensagem td::before {
        content: '';
    }
  
    .linha-mensagem td {
        display: table-cell;
        text-align: center;
    }
  }
  
  @media screen and (max-width: 662px) {
    main {
        width: 90%;
    }    
  }
  
  @media screen and (max-width: 500px) {
    td {
        grid-template-columns: 12ch auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    td {
        font-size: 14px;
    }
  } */