.webcam-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.webcam-img{
    justify-content: center;
    align-items: center;

}
.btn-button button{
    display: flex;
    position: relative;
    align-items: center;
    width: auto;
    height: auto;
    top: 250px;
    right: 180px;
    border-radius: 30%;
    padding: 5px 5px 5px 5px;
   
}