* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font1_montserrat: 'Montserrat', sans-serif;
  --font2_righteous: 'Righteous', cursive;
  --font3_titillium: 'Titillium Web', sans-serif;
  --font4_lato: 'Lato', sans-serif;
  --branco: #ffffff;
  --preto: #00000067;
  --verde: #12D76E;
  --azulbotao: #1A7CA6;
  --azulborda: #294ABD;
  --shadow: -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
}

/* body {
      background: url(../../assets/img/Backgronud.png);
      background-size: cover;
      background-repeat: no-repeat;
      
  } */

 
.container_grid {
  width: 90%;
  margin: 0 auto;
  

}

.header_texto, .menu_ss{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  flex-direction: row;
  align-items: center;
  

}

.container_grid p {
  font-family: var(--font1_montserrat);
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  color: var(--branco);
  text-shadow: var(--shadow);
  margin-top: 2px;
  align-items: center;
}


.linha_header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  
  
  

}



.linha_baixo_esquerda {
  border-bottom: 1px solid var(--branco);
  width: 1266px;


}

.linha_header img {
  height: 40px;

}

.linha_baixo_direita {
  border-bottom: 1px solid var(--branco);
  width: 570px;
}

/* Botoes */
.menu_ss {

  /* display: flex; */
  /* flex-direction: row; */
  /* position: relative; */
  /* padding-top: 50px; */

}

.menu_ss a {
  display: flex;
  justify-content: space-around;
  padding-left: 15px;
  /* flex-direction: column; */
  /* align-items: center; */
  /* box-sizing: border-box; */


  width: 130px;
  height: 40px;
  padding: 15px 30px;
  /* position: relative; */



  font-family: var(--font1_montserrat);
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  color: var(--branco);
  background: #1A7CA6;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 46.5px;
  text-decoration: none;
  align-items: center;


}


.menu_ss a:hover {
  background-color: orange;
  color: #000;
  text-decoration-color: black;
  text-decoration: none;
}

.menu {
  /* width: 1200px; */
  /* margin-left: 320px; */
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu nav{
  
  width: 90%;
}